.menu-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 0 152px;
    justify-content: space-between;
    width: 750px;
    height: 98px;
    box-sizing: border-box;
    background-color: #fff;
    border-top:1px solid #ccc;
    .menu {
        width: 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0 5px;
        .home-icon,.exercise-icon,.user-icon{
            background-repeat: no-repeat;
            background-size:100% 100%;
        }
        .home-icon{
            width: 44px;
            height: 42px;
        }
        .exercise-icon{
            width: 44px;
            height: 42px;
        }
        .user-icon{
            width: 42px;
            height: 42px;
        }
        text {
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: #666666;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
        }
    }
}