@import '../../varible.less';
.coupon-list {
    width: 100%;
    box-sizing: border-box;
    .coupon{
        margin: 20px 0;
    }
    .no-coupon-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .no-coupon {
            margin: 172px auto 60px;
            width: 180px;
            height: 180px;
        }
        .no-coupon-text {
            font-size: 28px;
            color: @textNormal;
        }
    }
}