@import '../../varible.less';
.coupon-list {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .no-coupon-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .no-coupon {
            margin: 172px auto 60px;
            width: 180px;
            height: 180px;
        }
        .no-coupon-text {
            font-size: 28px;
            color: @textNormal;
        }
    }
}
.coupon-list.no-coupon{
    background-color: #fff;
}
.coupon-item{
    margin: 20px 0;
}